[project]
	description = Test repo for build system
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Gavinongws
[access "refs/for/refs/*"]
	read = group user/Gavinongws
	push = group user/Gavinongws
	label-Code-Review = -2..+2 group user/Gavinongws
	label-Verified = -1..+1 group user/Gavinongws
	rebase = group user/Gavinongws
	removeReviewer = group user/Gavinongws
	submit = group user/Gavinongws
[access "refs/heads/*"]
	read = group user/Gavinongws
	create = group user/Gavinongws
	push = +force group user/Gavinongws
	pushMerge = group user/Gavinongws
[access "refs/tags/*"]
	push = +force group user/Gavinongws
	pushTag = group user/Gavinongws
	pushSignedTag = group user/Gavinongws
